.cover {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10000;
	overflow: visible;
	background-color: #000;
	color: #fff;
	opacity: 1;
	transition: all 200ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (prefers-reduced-motion) {
	.cover {
		transition: none;
	}
}

.cover__header {
	display: block;
	text-align: center;
	font-size: 2em;
	letter-spacing: -0.05em;
	transition: all 200ms linear;
	margin-bottom: 0;
	margin-top: 0;
}