/* Scaffolding */
html, body, #demo {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #ccc;
}

.pyramid__element {
    background-color: rgba(255, 255, 255, 0.161803398875);
}

/* For when zooming in a Pyramid that is not initially top: 0; */
.pyramid--zoomingIn,
.pyramid--zoomingOut {
    transition: top 200ms linear;
}

/*  You can apply a transition like this, or you can use the zoomTransition prop.
    This zoom in transition will apply to all elements while they are zooming in/out
    except for the elements in pyramids which have a zoomTransition set via props (that style has a higher specificity) */
.pyramid__element--zoomingIn,
.pyramid__element--zoomingOut {
    transition: all 200ms cubic-bezier(.63,-0.43,.33,1.41);
}

.demo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ccc;
}