/* Scaffolding */
html, body, #demo {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #ccc;
}

h1 {
	font-size: 4em;
	letter-spacing: -0.05em;
	margin-top: 0;
	margin-bottom: 1em;
}

h2 {
	margin-top: 0;
	margin-bottom: 0em;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
	line-height: 1.4;
}

button {
	padding: 15px 30px;
	background: black;
	color: white;
	border: none;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: -0.05em;
	margin-right: 10px;
	cursor: pointer;
}

.pyramid__element {
	background-color: rgba(255, 255, 255, 0.161803398875);
}

/*  You can apply a transition like this, or you can use the zoomTransition prop.
	This zoom in transition will apply to all elements while they are zooming in/out
	except for the elements in pyramids which have a zoomTransition set via props (that style has a higher specificity) */
.pyramid__element--zoomingIn,
.pyramid__element--zoomingOut {
	transition: all 300ms cubic-bezier(.63,-0.43,.33,1.41);
}

.demo {
	position: relative;
	z-index: 100;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #ccc;
}